django
channels
daphne
redis
channels-redis
celery[redis]
django-celery-results
django-celery-beat
requests
pandas
geopandas
gtfs-realtime-bindings
djangorestframework
drf-spectacular
python-decouple
psycopg2-binary
gunicorn
