django
channels
daphne
redis
channels-redis
celery[redis]
django-celery-results
django-celery-beat
djangorestframework
drf-spectacular
requests
configparser
schedule
pandas
gtfs-realtime-bindings
python-decouple
psycopg2-binary
sqlalchemy
gunicorn
