<h1>Página de creación/registro/configuración de una nueva pantalla</h1>

<p>
    Formulario con toda la información necesaria para la pantalla.
</p>

<ul>
    <li>screen_id</li>
    <li>name</li>
    <li>address</li>
    <li>location (ejemplo: 9.93752787687643, -84.04463400265841 con PostGIS y GeoDjango)</li>
    <li>size (ejemplo: 32")</li>
    <li>ratio (ejemplo: 16:9)</li>
    <li>orientation (ejemplo: VERTICAL, HORIZONTAL)</li>
    <li>has_sound</li>
</ul>

<p>
    Aquí hay que hacer una validación de los datos ingresados por el usuario.
</p>