<h1>Ruta UCR</h1>

<p>Faltan <span id="time-remaining">{{ minutes }}</span> minutos para el bus</p>

<p>
    Pantalla: {{ screen_id }}
</p>

<p id="message"></p>

<script>
    // Aquí un archivo para manejar las actualizaciones de la pantalla con WebSockets
    // https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_client_applications
    // Crear un WebSocket 
    const wsUrl = 'ws://' + window.location.host + '/ws/screen/{{ screen_id }}/';
    const screenSocket = new WebSocket(wsUrl);

    // Registrar la conexión abierta
    screenSocket.onopen = function (event) {
        console.log('gtfs2screens: Conexión abierta exitosamente en ' + wsUrl);
    };

    // Manejo de eventos de mensajes
    screenSocket.onmessage = function (event) {
        console.log('Mensaje recibido:', event.data);
        const data = JSON.parse(event.data);
        const message = data['message'];
        if (message) {
            document.getElementById('message').innerHTML = message;
        }
    };

    window.addEventListener('beforeunload', function (event) {
        screenSocket.close();
    });
</script>